<a href="https://colab.research.google.com/github/muhammadfaridmaulana/Case-Study-02-EDA-Ganjil-2022-Kelompok-2/blob/main/Case_Study_02_EDA_Ganjil_2022_Kelompok_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


###Case Study 02 EDA - Ganjil 2022 Kelompok 2

###Kelompok 2 

###Ketua : Muhammad Farid Maulana (1210940000039)

###Anggota : 

###1. Zahra Khotimah (11210940000003)
###2. Agung Taruna Yudho Pratama (11210940000004)
###3. Antya Alhikmah Alham (11210940000033)
###4. Fanny Wahyu Aprilia (11210940000037)
###5. Aisyah Nuraini(11210940000030)

###Link Url google collabs dari repository github : https://colab.research.google.com/github/muhammadfaridmaulana/Case-Study-02-EDA-Ganjil-2022-Kelompok-2/blob/main/Case_Study_02_EDA_Ganjil_2022_Kelompok_2.ipynb

In [12]:
import pandas as pd

mengajar = pd.read_csv('mengajar.csv', encoding='utf8')
dosen = pd.read_csv('tb_dosen.csv', encoding='utf8')
kelas = pd.read_csv('tb_kelas.csv', encoding='utf8')
krs = pd.read_csv('tb_krs.csv', encoding='utf8')
mahasiswa = pd.read_csv('tb_mahasiswa.csv', encoding='utf8')
matkul = pd.read_csv('tb_mata_kuliah.csv', encoding='utf8')
nilai = pd.read_csv('tb_nilai.csv', encoding='utf8')

mengajar.shape, dosen.shape, kelas.shape, krs.shape, mahasiswa.shape, matkul.shape, nilai.shape

((14, 4), (4, 6), (4, 4), (7, 6), (15, 8), (9, 3), (33, 7))

###NO.1

In [13]:
nilai_dosen = nilai.groupby(nilai['NIDN']).mean()[['nilai']]
nilai_dosen = nilai_dosen.rename({'nilai': 'mean_nilai'}, axis=1) 
nilai_dosen = pd.merge(dosen, nilai_dosen, left_on='NIDN', right_index=True)
nilai_dosen = nilai_dosen[['NIDN', 'nama', 'mean_nilai']]
sb = nilai.groupby(nilai['NIDN']).std()[['nilai']]
sb = sb.rename({'nilai': 'std_nilai'}, axis=1) 
nilai_dosen = nilai_dosen.set_index(['NIDN']) 
nilai_dosen = pd.concat([nilai_dosen, sb], axis=1)
nilai_dosen

               nama  mean_nilai  std_nilai
NIDN
123    Andri Basuki   85.750000   7.741355
234        zulfikar   80.428571  15.883504
345   Annisa Fitria   60.090909  16.220077
787            yudi   70.571429  13.010984

In [14]:
A = pd.merge(mengajar, dosen, on='NIDN', how='left')
A.loc[:,['NIDN','nama','kode_MK']]

    NIDN           nama kode_MK
0    123   Andri Basuki   KAL01
1    123   Andri Basuki   KAL01
2    123   Andri Basuki   STA01
3    123   Andri Basuki   MAT01
4    123   Andri Basuki   STA02
5    234       zulfikar    OR01
6    234       zulfikar    CS01
7    787           yudi   KAL01
8    787           yudi   KAL01
9    787           yudi   STA02
10   345  Annisa Fitria   MAT73
11   345  Annisa Fitria   MAT53
12   345  Annisa Fitria   STA02
13   345  Annisa Fitria   KAL02

###INTERPRETASI 01 

Terdapat dosen yang memberikan nilai cenderung lebih tinggi yaitu Andri 
Basuki dikarenakan rata-rata nilai yang tinggi dan standar deviasi nilai rendah dengan jumlah mata kuliah yang diajarkan ada 5, sedangkan Zulfikar dengan rata-rata nilai yang tinggi dan sandar deviasi tinggi dengan jumlah mata kuliah yang diajarkan ada 2 maka pemberian nilai dari Zulfikar termasuk standar, sedangkan Annisa Fitria termasuk memberikan nilai cenderung lebih rendah dikarenakan rata-rata nilai yang rendah dan standar deviasi nilai tinggi dengan jumlah mata kuliah yang diajarkan ada 4

###No. 2

In [15]:
B = pd.merge(dosen, nilai_dosen, left_on='NIDN', right_index=True)
B = B.rename({'nama_x': 'nama'}, axis=1) 
B.loc[:,['NIDN','nama','Pendidikan_Terakhir','mean_nilai','std_nilai']]

   NIDN           nama Pendidikan_Terakhir  mean_nilai  std_nilai
0   123   Andri Basuki                  S3   85.750000   7.741355
1   234       zulfikar                  S3   80.428571  15.883504
2   787           yudi                  S2   70.571429  13.010984
3   345  Annisa Fitria                  S2   60.090909  16.220077

**Interpretasi 02**

Dilihat dari rata-rata nilai dan standar deviasi, terdapat perbedaan dalam pemberian nilai antara dosen dengan pendidikan terakhirnya. Dosen yang pendidikan terakhir S3 cenderung memberikan nilai lebih tinggi dibandingkan dosen yang pendidikan terakhir S2.

#No. 4

In [16]:
nilai_mahasiswa = nilai.groupby(nilai['nim']).mean()[['nilai']]
nilai_mahasiswa = nilai_mahasiswa.rename({'nilai': 'mean_nilai mahasiswa'}, axis=1) 
nilai_mahasiswa = pd.merge(mahasiswa, nilai_mahasiswa, left_on='nim', right_index=True)
nilai_mahasiswa = nilai_mahasiswa[['nim', 'nama', 'Gender', 'mean_nilai mahasiswa']]
sb = nilai.groupby(nilai['nim']).std()[['nilai']]
sb = sb.rename({'nilai': 'std_nilai'}, axis=1) 
nilai_mahasiswa = nilai_mahasiswa.set_index(['nim']) 
nilai_mahasiswa = pd.concat([nilai_mahasiswa, sb], axis=1)
nilai_mahasiswa

                  nama  Gender  mean_nilai mahasiswa  std_nilai
nim
194001   Samsul Kurnia    Pria                 67.50  17.677670
194002  Bambang Arifin    Pria                 65.00  18.027756
194003            Udin    Pria                 90.00        NaN
194004            Iwan    Pria                 75.75  18.006943
194005  Bambang Arifin    Pria                 91.50   0.707107
194006            Wati  Wanita                 89.00   5.656854
194007             Ani  Wanita                 71.00  12.409674
194008       Rahmawati  Wanita                 64.00   6.928203
194009            Asep    Pria                 77.00  19.798990
194010            Rina  Wanita                 76.00  19.798990
194011            Sari  Wanita                 46.00  21.213203
194012            Bowo    Pria                 70.00        NaN
194013            Budi    Pria                 90.00        NaN
194014           Putri  Wanita                 88.00   0.000000
194015   Muhammad Amir    Pria                 55.00  21.213203

In [17]:
perbedaan = nilai_mahasiswa.groupby(nilai_mahasiswa['Gender']).mean()[['mean_nilai mahasiswa']]
s_b = nilai_mahasiswa.groupby(nilai_mahasiswa['Gender']).std()[['mean_nilai mahasiswa']]
s_b = s_b.rename({'mean_nilai mahasiswa': 'std_nilai gender'}, axis=1) 
perbedaan = pd.concat([perbedaan, s_b], axis=1)
perbedaan

        mean_nilai mahasiswa  std_nilai gender
Gender
Pria               75.750000         12.762249
Wanita             72.333333         16.132782

**Interpretasi 04**

Dilihat dari rata-rata nilai dan standar deviasi, terdapat perbedaan terhadap prestasi akademik antara mahasiswa dan mahasiswi. Prestasi akademik mahasiswa cenderung lebih tinggi dikarenakan rata-rata nilai yang tinggi dan standar deviasi rendah dengan jumlah mahasiswa sebanyak 9 orang. Sedangkan prestasi akademik mahasiswi cenderung lebih rendah dikarenakan rata-rata nilai mahasiswa yang rendah dan standar deviasi tinggi dengan jumlah mahasisiwi sebanyak 6 orang.

#No.5

#NO.6